/* style.css */

section[data-testid="stSidebar"] {
    width: 450px !important;
    background-color: #ededed58;
    border-radius: 0 5% 0 0;
}

.video-box {
    background-color: #f0f2f6;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.graph-box {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
}

/* 数据总览行间距压缩 */
.data-row {
    min-height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    line-height: 0.3;
}
.data-row > div {
    margin: 0px !important;
    padding: 0px !important;
}
.data-row div[data-testid="stSelectbox"] {
    margin: 0px !important;
    padding: 0px !important;
    min-height: 0px !important;
}
.data-row div[data-testid="stVerticalBlock"] {
    gap: 0px !important;
}
.data-row div[data-testid="stVerticalBlock"] > div {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
